body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
    font-family: 'Press Start 2P', cursive;
    color: #535353;
}

#game-container {
    position: relative;
    border: 2px solid #535353;
}

#canvas-container {
    width: 600px;
    height: 300px;
}

#ui-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 20px;
}

#score, #highscore, #lives {
    font-size: 14px;
}

#game-over-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #535353;
    text-align: center;
}

.hidden {
    display: none;
}
